<body>
    <nav>
        <ul>
            <li>
                <a routerLink="dashboard" class="logo">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbXnB8JPcLes1WdZN4XcOnn_30aIP88JtO7Q&usqp=CAU" alt="">
                <span class="nav-item" style="font-size: 18px;">SOLICITUDES Y VEHICULOS DAS</span>
            </a>
            </li>
            <li *ngFor="let item of list">
                <a routerLink="{{item.router}}">
                <i class="{{item.icon}}"></i>
                <span class="nav-item">{{item.name}}</span>
            </a>
            </li>
            <li>
                <a routerLink="logout" class="logout">
                <i class="fa fa-power-off "></i>
                <span class="nav-item">Cerrar Sesion</span>
            </a>
            </li>
        </ul>
    </nav>
    <section class="main">
      <router-outlet></router-outlet>
    </section>
</body>
