*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #dfe9f5;
}

nav {
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #2a4365;
  width: 90px;
  overflow: hidden;
  transition: width 0.1s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 0 0 10px
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(219, 219, 219);
  font-size: 15px;
  display: table;
  width: 280px;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

.fa {
  position: relative;
  width: 70px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  margin-left: 10px;
  padding: 12px;
}

a:hover {
  background: #eeeeee8d;
}

nav:hover {
  width: 280px;
  transition: all 0.3s ease;
}

.logout {
  position: absolute;
  bottom: 0;
}

.main{
  position: relative;
  margin-left: 40px;
  width: 100%;
  margin-top: -50px;
}

nav:hover + .main {
  width: calc(100% - 150px);
  left: 150px;
}
