    <main class="content">
      <div class="container">
        <div class="header">
            <h1 class="header-title">
              SISTEMA DE GESTION DE VEHICULOS Y SOLICITUDES
            </h1>
        </div>

          <div class="card">

              <div class="row">

                <div routerLink="/Trips" style="cursor:pointer; margin-right: 40px;text-align: center;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                  <span>
                    Viajes
                    <h1> </h1>
                  </span>
                    <i class="fa fa-road fa-4x"></i>

                </div>
                <div routerLink="/exteriorRequest-index" style="cursor:pointer; margin-right: 40px;text-align: center;">
                  <span>
                    Solicitudes exteriores
                    <h1> </h1>
                  </span>
                    <i class="fa fa-file-contract fa-4x" ></i>

                </div>

                <div routerLink="/localRequest-index" style="cursor:pointer; text-align: center;">
                  <span>
                    Solicitudes locales
                    <h1> </h1>
                  </span>
                    <i class="fa fa-file-spreadsheet fa-4x"></i>

                </div>

              </div>
              <div class="row">
                <div routerLink="" style="cursor:pointer; margin-right: 40px; margin-top:20px; text-align: center;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                  <span>
                    Pases de salida
                    <h1> </h1>
                  </span>
                  <i class="fa fa-file-check fa-4x"></i>

                </div>
                <div routerLink="/Vouchertable" style="cursor:pointer;margin-top:20px; text-align: center;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                  <span>
                    Vales de combustible
                    <h1> </h1>
                  </span>
                    <i class="fa fa-gas-pump fa-4x"></i>

                </div>

              </div>
            </div>
          </div>

    </main>
