
.btn {
  margin: 0 auto;

}

.content {
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}


.card {
  font-size: 20px;
  display: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 350px;
}
span {
  display: block;
  white-space: pre-line;
}
