    <main class="content">
      <div class="container">
        <div class="header">
            <h1 class="header-title">
              SISTEMA DE GESTION DE VEHICULOS Y SOLICITUDES
            </h1>
        </div>

          <div class="card">

              <div class="row" style="margin-top: 2px;">

                <div routerLink="/Trips" style="cursor:pointer; width: 150px;  text-align: center; border-right: rgb(179, 179, 179) 2px solid;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                <span>
                    Viajes <br> activos
                    <h1></h1>
                  </span>
                    <i class="fa fa-road fa-4x"></i>

                </div>
                <div routerLink="/exteriorRequest-index" style="cursor:pointer;width: 150px;  text-align: center; border-right: rgb(179, 179, 179) 2px solid;">
                  <span>
                    Solicitudes exteriores
                    <h1> </h1>
                  </span>
                    <i class="fa fa-file-contract fa-4x" ></i>

                </div>

                <div routerLink="/localRequest-index" style="cursor:pointer; width: 150px;  text-align: center; ">
                  <span>
                    Solicitudes locales
                    <h1> </h1>
                  </span>
                    <i class="fa fa-file-spreadsheet fa-4x"></i>

                </div>
                <div routerLink="/History-trips" style="cursor:pointer; width: 150px;  text-align: center; border-left: rgb(179, 179, 179) 2px solid;"
                *ngIf="user === 'Secretaria/o'">
                  <span >
                    Historial de viajes
                    <h1> </h1>
                  </span>
                  <i class="fa fa-clock fa-4x"></i>

                </div>

              </div>
              <div class="row" style=" margin-top: 15px;">
                <div routerLink="/History-trips" style="cursor:pointer; width: 150px;  text-align: center; border-right: rgb(179, 179, 179) 2px solid;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                  <span >
                    Historial de viajes
                    <h1> </h1>
                  </span>
                  <i class="fa fa-clock fa-4x"></i>

                </div>
                <div routerLink="/History-Request" style="cursor:pointer;  width: 150px; text-align: center;border-right: rgb(179, 179, 179) 2px solid;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                  <span>
                    Historial de solicitudes
                    <h1> </h1>
                  </span>
                  <i class="fa fa-list fa-4x"></i>

                </div>
                <div routerLink="/Vouchertable" style="cursor:pointer; text-align: center;width: 150px;"
                *ngIf="user === 'Admin' || user==='Encargado de Transporte'">
                  <span>
                    Vales de combustible
                    <h1> </h1>
                  </span>
                    <i class="fa fa-gas-pump fa-4x"></i>

                </div>

              </div>
            </div>
          </div>

    </main>
