<div class="wrapper">
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <div class="col-8">
            <h1 class="header-title">
              SISTEMA DE GESTION DE VEHICULOS Y SOLICITUDES
            </h1>

          </div>
        </div>

        <div class="col-8">
          <div class="card">

            <div class="card-body">

              <div class="row">
                <div class="col-lg-2" style="margin-left: 60px;">
                  <a>

                    <img routerLink="/viajes" src="https://cdn-icons-png.flaticon.com/512/75/75729.png" alt="Logo"
                      height="50" width="85" style="margin-bottom: 5px;">
                      Viajes
                    </a>
                </div>
                <div class="col-lg-2">
                  <a>
                    <img routerLink="/exteriorRequest-index" src="https://cdn-icons-png.flaticon.com/512/3286/3286234.png" alt="Logo"
                      height="40" width="70" style="margin-bottom: 5px;">
                      Solicitudes exteriores
                    </a>
                </div>
                <div class="col-lg-2">
                  <a>

                    <img routerLink="/localRequest-index" src="https://cdn-icons-png.flaticon.com/512/3286/3286234.png" alt="Logo"
                      height="40" width="70"style="margin-bottom: 5px;">
                      Solicitudes locales
                    </a>
                </div>
                <div class="col-lg-2">
                  <a>

                    <img routerLink="" src="https://cdn-icons-png.flaticon.com/512/3447/3447637.png" alt="Logo"
                      height="40" width="80"style="margin-bottom: 5px;">
                      Pases de salida
                    </a>
                </div>
                <div class="col-lg-2">
                  <a>
                    <img routerLink="/Vouchertable" src="https://images.vexels.com/media/users/3/139413/isolated/preview/92ac6d2bfcd47ec9e4d559ec40972d31-combustible-de-coche-gasolina.png" alt="Logo"
                      height="40" width="85"style="margin-bottom: 5px;"
                      >Vales de combustible
                    </a>
                </div>
                <div class="col-lg-2">
                  <a>
                    <img routerLink="/Bitacora" src="https://images.vexels.com/media/users/3/139413/isolated/preview/92ac6d2bfcd47ec9e4d559ec40972d31-combustible-de-coche-gasolina.png" alt="Logo"
                      height="40" width="85"style="margin-bottom: 5px;"
                      >Bitacora
                    </a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>
