<div class="wrapper">
    <div class="main">
      <main class="content">
        <div class="container-fluid">
          <div class="header">
            <div class="col-8">
              <h1 class="header-title">
                Registro de vales de combustible
              </h1>
              <!--- Migaja de Pan -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                  <li class="breadcrumb-item"><a [routerLink]="['/vehicles']"> Vales de combustible</a></li>
                  <li class="breadcrumb-item"><a> Registro de vales de combustible</a></li>
                </ol>
              </nav>
              <!--- Migaja de Pan -->
            </div>
          </div>
          <div class="col-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Completa el formulario</h5>
              </div>
              <div class="card-body">
                <!--- INICIO DE FORMULARIO-->
                <!--- Nombre Formulario dentro del Form-->
                <!--- #vehicleForm="ngForm"-->
                <form #voucherForm="ngForm">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-label"><b>Cantidad en Q.</b></label>
                        <input #cost="ngModel" name="cost" [(ngModel)]="voucher.cost" type="number" class="form-control"
                          placeholder="Ingrese la cantidad en Q. del vale de combustible" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-label"><b>Vehiculo No.</b></label>
                        <input name="No." type="number" class="form-control" required>
                      </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label"><b>Placa</b></label>
                          <select class="form-control"  #vin="ngModel" name="vin" [(ngModel)]="voucher.vin" (click)="getOneVehicle(voucher.vin)"
                            required>
                            <option value="" disabled>Seleccionar</option>
                            <option value="{{vehicle.vin}}" *ngFor="let vehicle of vehicles">{{vehicle.plate}}</option>
                          </select>
                        </div>
                      </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-label"><b>Tipo de vehiculo</b></label>
                          <input type="text" class="form-control"
                            placeholder="{{type_name}}" disabled>
                        </div>
                      </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-label"><b>Marca</b></label>
                          <input type="text" class="form-control"
                            placeholder="{{brand}}" disabled>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-label"><b>Modelo</b></label>
                          <input type="number"
                            class="form-control" placeholder="{{model}}" disabled>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-label"><b>Color</b></label>
                          <input type="text" class="form-control"
                            placeholder="{{color}}" disabled>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="form-group">
                          <label class="form-label"><b>Kilometros por galon</b></label>
                          <input #galon="ngModel" name="galon" [(ngModel)]="voucher.galon" type="text" class="form-control"
                            placeholder="Ingrese los kilometros por galon del vale de combustible" required>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="form-group">
                          <label class="form-label"><b>Al servicio de</b></label>
                          <input #service="ngModel" name="service" [(ngModel)]="voucher.service" type="text" class="form-control"
                            placeholder="Ingrese el cilindraje del vehiculo" required>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="form-group">
                          <label class="form-label"><b>Comision a</b></label>
                          <input name="comision" type="text" class="form-control"
                            placeholder="Ingrese la comision a del vale de combustible" required>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="form-group">
                          <label class="form-label"><b>Proposito</b></label>
                          <input name="proposito" type="text" class="form-control"
                            placeholder="Ingrese el proposito del vale de combustible" required>
                        </div>
                      </div>


                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label"><b>Fecha de comision</b></label>
                          <input name="color" type="text" class="form-control"required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label"><b>Kms. a recorrer</b></label>
                          <input  name="km" type="text" class="form-control"
                            placeholder="Ingrese el proposito del vale de combustible" required>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="form-group">
                          <label class="form-label"><b>Nombre del piloto asignado:</b></label>
                          <select class="form-control" #pilotName="ngModel" name="uuid"
                            [(ngModel)]="voucher.uuid" required (click)="getOnePerson(voucher.uuid)">
                            <option value="" disabled>Seleccionar</option>
                            <option value="{{person.uuid}}" *ngFor="let person of person">{{person.fullname}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="form-group">
                          <label class="form-label"><b>DPI o Licencia</b></label>
                          <input name="Licencia" type="text" class="form-control" placeholder="{{dpi}}" disabled>
                        </div>
                      </div>
  
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                  </div>
  
                </form>
                <!--- FIN DE FORMULARIO-->
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  