<div class="main">
  <main class="content">
    <div class="container-fluid">
      <div class="header">
        <div class="col-6">
          <h1 class="header-title">
            Generar vale de combustible regular
          </h1>
          <!--- Migaja de Pan -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Inicio</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/Vouchertable']"> Vales de combustible</a></li>
              <li class="breadcrumb-item"><a>Generar vale de combustible regular</a></li>
            </ol>
          </nav>
          <!--- Migaja de Pan -->
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Completa el formulario</h5>
          </div>
          <div class="card-body">
            <!--- INICIO DE FORMULARIO-->
            <form #voucherForm="ngForm" (ngSubmit)="createVoucher(voucherForm)">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label"><b>Cantidad en Q.</b></label>
                    <input #cost="ngModel" name="cost" [(ngModel)]="voucher.cost" type="number" class="form-control"
                      placeholder="Ingrese la cantidad en Q. del vale de combustible" required>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label"><b>Placa</b></label>
                    <select class="form-control" #vin="ngModel" name="vin" [(ngModel)]="voucher.vin"
                      (ngModelChange)="getOneVehicle(voucher.vin)" required>
                      <option value="" disabled>Seleccionar</option>
                      <option value="{{vehicle.idVehicle}}" *ngFor="let vehicle of vehicles">
                        {{vehicle.idVehicle}} - {{vehicle.plate}} - {{vehicle.type_name}} - {{vehicle.brand}} -
                        {{vehicle.model}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-label"><b>Vehiculo No.</b></label>
                    <input name="No." type="number" class="form-control" placeholder="{{idVehicle}}" disabled>
                  </div>
                </div>


                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-label"><b>Tipo de vehiculo</b></label>
                    <input type="text" class="form-control" placeholder="{{type_name}}" disabled>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-label"><b>Marca</b></label>
                    <input type="text" class="form-control" placeholder="{{brand}}" disabled>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-label"><b>Modelo</b></label>
                    <input type="number" class="form-control" placeholder="{{model}}" disabled>
                  </div>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-label"><b>Color</b></label>
                    <input type="text" class="form-control" placeholder="{{color}}" disabled>
                  </div>
                </div>
                <div class="col-lg-12"></div>
                <div>
                  <div class="col-lg-8">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      [(ngModel)]="comission" name="comission">
                      <mat-radio-button class="example-radio-button" *ngFor="let type of types" [value]="type">
                        {{type}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="col-lg-8" style="margin-left: 10px;">
                  <div class="form-group">
                    <label class="form-label"><b>Comisión local</b></label>
                    <select class="form-control" #local_comission="ngModel" name="local_comission"
                      [(ngModel)]="voucher.local_comission" [disabled]="comission != 'Local'"
                      (ngModelChange)="getOneLocalRequest(voucher.local_comission)">
                      <option value="" hidden selected>Seleccionar</option>
                      <option value="{{local.id}}" *ngFor="let local of localRequest">
                        {{local.place}} - {{local.section}} - {{local.date | date: 'd MMM y' | uppercase}} -
                        {{local.applicantsName}}
                      </option>
                    </select>
                    <!-- <input name="comission_to" type="text" class="form-control" #comission_to="ngModel" [(ngModel)]="voucher.comission_to"
                          placeholder="Ingrese la comision solicitante" required> -->
                  </div>
                  <div class="form-group">
                    <label class="form-label"><b>Comisión exterior</b></label>
                    <select class="form-control" #exterior_comission="ngModel" name="exterior_comission"
                      [(ngModel)]="voucher.exterior_comission" [disabled]="comission != 'Exterior'"
                      (ngModelChange)="getOneExteriorRequest(voucher.exterior_comission)">
                      <option value="" hidden selected>Seleccionar</option>
                      <option value="{{exterior.id}}" *ngFor="let exterior of exteriorRequest">
                        {{exterior.commission_manager}} - {{exterior.requesting_unit}} - {{exterior.date_request | date:
                        'd MMM y' | uppercase}} - {{exterior.objective_request}}
                      </option>
                    </select>
                    <!-- <input name="comission_to" type="text" class="form-control" #comission_to="ngModel" [(ngModel)]="voucher.comission_to"
                          placeholder="Ingrese la comision solicitante" required> -->
                  </div>
                  <div class="form-group">
                    <label class="form-label"><b>Comisión a:</b></label>
                    <input name="comission_to" type="text" class="form-control" #comission_to="ngModel"
                      [disabled]="comission != 'Sin Comisión'" [(ngModel)]="voucher.comission_to"
                      placeholder="" required>

                    <!-- <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label"><b>Comision a</b></label>
                          <input #service="ngModel" name="comission_to" [(ngModel)]="voucher.comission_to" type="text"
                            class="form-control" placeholder="Ingrese la comision solicitante" required>
                        </div>
                      </div> -->
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-label"><b>Proposito</b></label>
                    <input *ngIf="comission != 'Sin Comisión'" type="number" class="form-control" placeholder="{{objective}}" disabled>
                    <input *ngIf="comission == 'Sin Comisión'" #service="ngModel" name="objective" [(ngModel)]="voucher.objective" type="text"
                      class="form-control" placeholder="Ingrese el proposito" required>
                    </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label"><b>Nombre del piloto asignado:</b></label>
                    <select class="form-control" #uuid="ngModel" name="uuid" [(ngModel)]="voucher.uuid" required
                      (ngModelChange)="getOnePerson(voucher.uuid)" [disabled]="comission != 'Sin Comisión'">
                      <option value="" disabled>Seleccionar</option>
                      <option value="{{pilot.uuid}}" *ngFor="let pilot of pilots">
                        {{pilot.fullname}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label"><b>DPI o Licencia</b></label>
                    <input name="Licencia" type="text" class="form-control" placeholder="{{dpi}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>

            </form>
            <!--- FIN DE FORMULARIO-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>