<div class="wrapper">
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">

          <div class="col-8">
            <h1 class="header-title">
              Registro de usuarios
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/users-index']"> Usuarios</a></li>
                <li class="breadcrumb-item"><a> Registro de usuarios</a></li>
              </ol>
            </nav>
            <!--- Migaja de Pan -->
          </div>
        </div>
        <div class="col-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Completa el formulario</h5>
                <h6 class="card-subtitle text-muted">Usuarios</h6>
              </div>
              <div class="card-body">
                <!--- INICIO DE FORMULARIO-->
                <!--- Nombre Formulario dentro del Form-->
                <!--- #vehicleForm="ngForm"-->
                <form #userForm="ngForm" (ngSubmit)="createNewUser(userForm)">
                  <div class="row">

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-label"><b>Persona</b></label>
                        <select class="form-control" #person="ngModel" name="uuidPerson" [(ngModel)]="user.uuidPerson" required [disabled]="editing==true">
                          <option value="" disabled>Seleccionar</option>
                          <option value="{{item.uuid}}" *ngFor="let item of persons">{{item.fullname}}</option>
                        </select>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-label"><b>Nombre de usuario</b></label>
                        <input type="text" class="form-control" #username="ngModel" name="username"
                          [(ngModel)]="user.username" placeholder="Ingrese el Nombre de Usuario" required>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-label"><b>Contraseña</b></label>
                        <input #password="ngModel" name="password" [(ngModel)]="user.password" type="text"
                          class="form-control" placeholder="Ingrese la Contraseña del Usuario" required>
                      </div>
                    </div>


                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-label"><b>Rol</b></label>
                        <select class="form-control" #rol="ngModel" name="rol_id" [(ngModel)]="user.rol_id" required>
                          <option value="" disabled>Seleccionar</option>
                          <option value="{{item.idrol}}" *ngFor="let item of rols">{{item.rol}}</option>
                        </select>
                      </div>
                    </div>
                  </div >
                  <div class="text-center">
                  <button type="submit" class="btn btn-primary"*ngIf="editing == false" >Crear</button>
                  <button type="submit" class="btn btn-primary" *ngIf="editing == true">Actualizar</button>
                </div>
                </form>
                <!--- FIN DE FORMULARIO-->
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</div>
