<div class="wrapper">
  <div class="main">
    <main class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                Registro de Vehiculos
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                  <li class="breadcrumb-item"><a [routerLink]="['/vehicles']"> Vehiculos</a></li>
                  <li class="breadcrumb-item"><a> Registro de Vehiculos</a></li>
                </ol>
            </nav>
            <!--- Migaja de Pan -->
        </div>

        <div class="col-12">
        <div class="card">
          <div class = "card-header">
            <h5 class = "card-title">Completa el Formulario</h5>
            <h6 class = "card-subtitle text-muted">Vehiculos</h6>
          </div>
          <div class="card-body">
            <!--- INICIO DE FORMULARIO-->
            <!--- Nombre Formulario dentro del Form-->
            <!--- #vehicleForm="ngForm"-->
            <form #vehicleForm="ngForm">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class = "form-label"><b>Marca</b></label>
                    <!--- En cada input se debe agregar la referencia al NGModel-->

                    <!--- #NOMBRE="ngModel" NOMBRE="NOMBRE" [(ngModel)]="VEHICLE.NOMBRE"-->
                    <input #brand="ngModel" brand="brand" [(ngModel)]="vehicle.brand"
                    type="text" class="form-control" placeholder="Ingrese la Marca del Vehiculo"required>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class = "form-group">
                    <label class = "form-label"><b>Modelo</b></label>
                    <input #model="ngModel" model="model" [(ngModel)]="vehicle.model"
                     type="text" class="form-control" placeholder="Ingrese el Modelo del Vehiculo" required>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class = "form-group">
                    <label class = "form-label"><b>Año</b></label>
                    <input type="text" class="form-control" placeholder="Ingrese el Año del Vehiculo"  required>
                  </div>
                </div>

                <div class="col-lg-3" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Placas</b></label>
                    <input type="text" class="form-control" placeholder="Ingrese el Número de Placa del Vehiculo" required>
                  </div>
                </div>
                <div class="col-lg-2" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Kilometraje</b></label>
                    <input type="number" class="form-control" placeholder="0" required>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class = "form-group">
                    <label class = "form-label"><b>Tipo de Vehiculo</b></label>
                    <select class="form-control"required>
                      <option value="" disabled>Seleccionar</option>

                    </select>
                  </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" >Registrar</button>
            </form>
            <!--- FIN DE FORMULARIO-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
