<div class="wrapper">
  <div class="main">
    <main class="content">
    <div class="container-fluid">
        <div class="header">
          <div class="col-8">
            <h1 class="header-title">
                Registro de Vehiculos
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                  <li class="breadcrumb-item"><a [routerLink]="['/vehicles']"> Vehiculos</a></li>
                  <li class="breadcrumb-item"><a> Registro de Vehiculos</a></li>
                </ol>
            </nav>
            <!--- Migaja de Pan -->
        </div>
      </div>
        <div class="col-8">
        <div class="card">
          <div class = "card-header">
            <h5 class = "card-title">Completa el Formulario</h5>
            <h6 class = "card-subtitle text-muted">Vehiculos</h6>
          </div>
          <div class="card-body">
            <!--- INICIO DE FORMULARIO-->
            <!--- Nombre Formulario dentro del Form-->
            <!--- #vehicleForm="ngForm"-->
            <form #vehicleForm="ngForm"(ngSubmit)="createNewVehicle(vehicleForm)">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class = "form-label"><b>VIN</b></label>
                    <!--- En cada input se debe agregar la referencia al NGModel-->

                    <!--- #NOMBRE="ngModel" name="NOMBRE" [(ngModel)]="VEHICLE.NOMBRE"-->
                    <input type="text" class="form-control" #vin="ngModel" name="vin" [(ngModel)]="vehicle.vin"
                     placeholder="Ingrese el número de VIN del Vehiculo"required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class = "form-group">
                    <label class = "form-label"><b>Placa</b></label>
                    <input #plate="ngModel" name="plate" [(ngModel)]="vehicle.plate"
                     type="text" class="form-control" placeholder="Ingrese la Placa del Vehiculo" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class = "form-group">
                    <label class = "form-label"><b>Tipo de Vehiculo</b></label>
                    <select class="form-control" #type="ngModel" name="type" [(ngModel)]="vehicle.type"required>
                      <option value="" disabled>Seleccionar</option>
                      <option value="{{item.idvtype}}" *ngFor="let item of types">{{item.type_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-6" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Marca</b></label>
                    <input #brand="ngModel" name="brand" [(ngModel)]="vehicle.brand"
                    type="text" class="form-control" placeholder="Ingrese la Marca del Vehiculo" required>
                  </div>
                </div>
                <div class="col-lg-3" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Modelo</b></label>
                    <input #model="ngModel" name="model" [(ngModel)]="vehicle.model"
                    type="number" class="form-control" placeholder="" required>
                  </div>
                </div>
                <div class="col-lg-3" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Kilometraje</b></label>
                    <input #km="ngModel" name="km" [(ngModel)]="vehicle.km"
                    type="number" class="form-control" placeholder="0" required>
                  </div>
                </div>
                <div class="col-lg-6" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Ingrese Tipo de Gasolina</b></label>
                    <input #gas="ngModel" name="gas" [(ngModel)]="vehicle.gas"
                    type="text" class="form-control" placeholder="Ingrese Tipo de Gasolina" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class = "form-group">
                    <label class = "form-label"><b>Estatus del Vehiculo</b></label>
                    <select class="form-control" #status="ngModel" name="status" [(ngModel)]="vehicle.status" required>
                      <option value="" disabled>Seleccionar</option>
                      <option value="{{item.idstatus}}" *ngFor="let item of type_status">{{item.status_name}}</option>
                    </select>
                  </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" >Registrar</button>
            </form>
            <!--- FIN DE FORMULARIO-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
