  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <div class="col-8">
            <h1 class="header-title">
              Registro de vehiculos
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/vehicles']"> Vehiculos</a></li>
                <li class="breadcrumb-item" *ngIf="editing==false" ><a> Registro de vehiculos</a></li>
                <li class="breadcrumb-item" *ngIf="editing==true" ><a> Edición de vehiculo número {{id_entrada}}</a></li>
              </ol>
            </nav>
            <!--- Migaja de Pan -->
          </div>
        </div>
        <div class="col-8">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Completa el formulario</h5>
            </div>
            <div class="card-body">
              <!--- INICIO DE FORMULARIO-->
              <!--- Nombre Formulario dentro del Form-->
              <!--- #vehicleForm="ngForm"-->
              <form #vehicleForm="ngForm" (ngSubmit)="createNewVehicle(vehicleForm)">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>VIN</b></label>
                      <!--- En cada input se debe agregar la referencia al NGModel-->
                      <!--- #NOMBRE="ngModel" name="NOMBRE" [(ngModel)]="VEHICLE.NOMBRE"-->
                      <input type="text" class="form-control" #vin="ngModel" name="vin" [(ngModel)]="vehicle.vin"
                        placeholder="Ingrese el número de VIN del vehiculo" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Placa</b></label>
                      <input #plate="ngModel" name="plate" [(ngModel)]="vehicle.plate" type="text" class="form-control"
                        placeholder="Ingrese la placa del vehiculo" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Tipo de vehiculo</b></label>
                      <select class="form-control" #type="ngModel" name="type" [(ngModel)]="vehicle.type" required>
                        <option value="" disabled>Seleccionar</option>
                        <option value="{{item.idvtype}}" *ngFor="let item of types">{{item.type_name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Marca</b></label>
                      <input #brand="ngModel" name="brand" [(ngModel)]="vehicle.brand" type="text" class="form-control"
                        placeholder="Ingrese la marca del vehiculo" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Ingrese tipo de gasolina</b></label>
                      <select #gas="ngModel" name="gas" [(ngModel)]="vehicle.gas" type="text" class="form-control"
                        placeholder="(Diesel, Regular)" required>
                        <option value="" disabled>Seleccionar</option>
                        <option value= 'Regular' >Regular</option>
                        <option value= 'Diesel' >Diesel</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Color</b></label>
                      <input #color="ngModel" name="color" [(ngModel)]="vehicle.color" type="text" class="form-control"
                        placeholder="Ingrese el color del vehiculo" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Cilindros</b></label>
                      <input #cylinders="ngModel" name="cylinders" [(ngModel)]="vehicle.cylinders" type="text" class="form-control"
                        placeholder="Ingrese el cilindraje del vehiculo" required>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-label"><b>Modelo</b></label>
                      <input #model="ngModel" name="model" [(ngModel)]="vehicle.model" type="number"
                        class="form-control" placeholder="Ingrese el modelo del vehiculo" required>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label class="form-label"><b>Kilometraje</b></label>
                      <input #km="ngModel" name="km" [(ngModel)]="vehicle.km" type="number" class="form-control"
                        placeholder="Ingrese el kilometraje del vehiculo" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Estatus del vehiculo</b></label>
                      <select class="form-control" #status="ngModel" name="status" [(ngModel)]="vehicle.status"
                        required>
                        <option value="" disabled>Seleccionar</option>
                        <option value="{{item.idstatus}}" *ngFor="let item of type_status">{{item.status_name}}</option>
                      </select>
                    </div>
                  </div>


                </div>
                <div class="row">
                  <button type="submit" class="btn btn-primary" *ngIf="editing==false">Registrar</button>
                  <button type="submit" class="btn btn-primary" *ngIf="editing==true">Editar</button>
                </div>

              </form>
              <!--- FIN DE FORMULARIO-->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
