<div class="wrapper">
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <!--- INICIO DE FORMULARIO-->
              <form #local_trasportationForm="ngForm" id="Data">
                <div class="form" >
                  <div class="header-form">
                    <div class="header-text">
                      <strong class="strong-header" style="color: black;"> SOLICITUD DE VEHICULO</strong>
                    </div>
                  </div>
                  <div class="header-info">
                    <div class="header-info-left">
                      <div class="info-left-item">
                        <td> MARCA DE VEHICULO: </td>
                      </div>
                      <div class="line">
                        <td></td>
                      </div>
                      <div class="info-left-item">
                        <td> No. DE SOLICITUD: </td>
                      </div>
                        <div class="line">
                          <td></td>
                        </div>
                      <div class="info-left-item">
                        <td> UNIDAD SOLICITANTE: </td>
                      </div>
                        <div class="line-bottom">
                          <td></td>
                        </div>
                    </div>
                      <div class="header-info-right">
                        <div class="info-right-item">
                          <td> PILOTO DE COMISIÓN: </td>
                        </div>
                          <div class="line">
                            <td></td>
                          </div>
                        <div class="info-right-item">
                          <td> LUGAR DE COMISIÓN: </td>
                        </div>
                          <div class="line">
                            <td></td>
                          </div>
                      </div>
                  </div>
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

