.col-11{
  margin:auto;
  width: 700px;
}

img{
  text-align: center;
  align-items: center;
  position: relative;
  max-width: 250px;
  max-height: 250px;
  margin-top: 15px;
}

.imagen{
  display: grid;
  align-items: center;
  justify-content: center;
}

.card{
  margin-top: -30px;
  align-items: center;
  background-color: transparent;
}

.card-body{
  height: 900px;
  width: 700px;
  background-color: white;
}

.header-form{
  margin-left: 17px;
  background-color: rgb(255, 255, 255);
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  text-align: center;
  font-size: 18px;
  min-width: 620px;
  max-width: 620px;
}

.header-info{
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 620px;
  max-width: 620px;
}

.header-info-left{
  display: grid;
  align-items: center;
  grid-template-columns: 42% 55%;
}

.header-info-right{
  display: grid;
  align-items: center;
  grid-template-columns: 40% 58%;
}

.header-text{
  padding: 10px;
}

.header-text2{
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  padding: 10px;
}

.header-text3{
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  padding: 10px;
  max-width: 620px;
}

.header-text4{
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  padding: 10px;
  max-width: 620px;
}

.header-text5{
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  padding: 10px;
  max-width: 620px;
  text-align: center;
}

.info-left-item{
  margin-left: 5px;
}

.info-right-item{
  margin-left: 5px;
}

input {
  font-family: 'Calibri';
  font-size: 12px;
  color: #0b0b0b;
  margin-left: 5px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

td{
  font-family: 'Calibri';
  font-size: 13px;
  color: #0b0b0b;
}

.line{
  margin-left: 5px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
}

.line-bottom{
  margin-left: 5px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-width: 150px;
  max-width: 750px;
}

.table-header{
  color: #0b0b0b;
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  min-width: 620px;
  max-width: 620px;
  min-height: 60px;
  max-height: 80px;
  display: grid;
  grid-template-columns: 120px 120px 120px 260px;
}

.th1{
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  display: grid;
  min-height: 70px;
  max-height: 90px;
  min-width: 120px;
  max-width: 120px;
  padding-top: 23px;
  padding-left: 2px;
  text-align: left;
}

.th2{
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-height: 70px;
  max-height: 90px;
  min-width: 120px;
  max-width: 120px;
  padding-top: 23px;
}

.th3{
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-height: 70px;
  max-height: 90px;
  min-width: 120px;
  max-width: 120px;
  padding-top: 23px;
}

.th4{
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-height: 70px;
  max-height: 90px;
  min-width: 260px;
  max-width: 260px;
}

.table-header1{
  color: #0b0b0b;
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  min-width: 620px;
  max-width: 620px;
  min-height: 60px;
  max-height: 80px;
  display: grid;
  grid-template-columns: 120px 120px 120px 260px;
}

.table-header2{
  color: #0b0b0b;
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  min-width: 620px;
  max-width: 620px;
  min-height: 60px;
  max-height: 80px;
  display: grid;
  grid-template-columns: 120px 120px 120px 260px;
}

.table-header3{
  color: #0b0b0b;
  margin-left: 17px;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  min-width: 620px;
  max-width: 620px;
  min-height: 60px;
  max-height: 80px;
  display: grid;
  grid-template-columns: 120px 120px 120px 260px;
}

.sign-form{
  margin-left: 17px;
  min-width: 620px;
  max-width: 620px;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
}

.sign-text{
  border-color: #0b0b0b;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  color: #0b0b0b;
  font-size: 12px;
  text-align: center;
  display: grid;
}
