<div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <div class="col-11">
            <h1 class="header-title">
              Solicitudes de transporte local
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/localRequest-index']"> Lista de solicitudes
                    locales</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/localRequest/edit/',id_entrada]">Registro de solicitud de transporte local número {{id_entrada}}</a></li>
                <li class="breadcrumb-item"><a>Solicitud de transporte número {{id_entrada}}</a></li>
              </ol>
            </nav>
            <!--- Migaja de Pan -->
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <!--- INICIO DE FORMULARIO-->
              <form #local_trasportationForm="ngForm" id="Data">
                <div class="imagen">
                  <img src="https://firebasestorage.googleapis.com/v0/b/das-jalapa.appspot.com/o/avatars%2Flogo-mspas%20(1).png?alt=media&token=5a4e689a-b3d9-402d-b7da-df99d43c642d" alt="">
                </div>
                <div class="form">
                  <div class="header-form">
                    <div class="header-text">
                      <strong class="strong-header" style="color: black;"> SOLICITUD DE VEHICULO</strong>
                    </div>
                  </div>
                  <div class="header-info">
                    <div class="info-center-item">
                      <strong> USO EXCLUSIVO DE LA SECCIÓN DE TRANSPORTES </strong>
                    </div>
                    <div class="info-items">
                      <div class="info-item">
                        <td> Nombre del Piloto: </td>
                      </div>
                      <div class="line">
                        <strong>{{request.fullname | uppercase}}</strong>
                      </div>
                      <div class="info-item">
                        <td> Placa del Vehículo: </td>
                      </div>
                      <div class="line">
                        <strong>{{request.plate | uppercase}}</strong>
                      </div>
                    </div>
                  </div>
                  <div class="info-data">
                    <div class="info-item">
                      <td> Lugar y Fecha: </td>
                    </div>
                    <div class="line">
                      <strong>{{request.place | uppercase}}, {{request.date | date: 'd MMM y' | uppercase}}</strong>
                    </div>
                    <div class="info-item">
                      <td> Unidad, Sección o Departamento: </td>
                    </div>
                    <div class="line">
                      <strong>{{request.section | uppercase}}</strong>
                    </div>
                    <div class="info-item">
                      <td> Nombre del Solicitante: </td>
                    </div>
                    <div class="line">
                      <strong>{{request.applicantsName | uppercase}}</strong>
                    </div>
                    <div class="info-item">
                      <td> Cargo del Solicitante: </td>
                    </div>
                    <div class="line">
                      <strong>{{request.position | uppercase}}</strong>
                    </div>
                    <div class="info-item">
                      <td> Tel.oficina o movil: </td>
                    </div>
                    <div class="line">
                      <strong>{{request.phoneNumber}}</strong>
                    </div>
                  </div>
                  <div class="table-header">
                    <div class="info-date"><strong>FECHA</strong>
                      <div class="rowTitle">
                        <div class="dateOf"><strong>DEL</strong> </div>
                        <div class="dateTo"><strong>AL</strong></div>
                      </div>
                    </div>
                    <div class="schedule"><strong>Hora de Salida</strong></div>
                    <div class="destiny"><strong>Destino Especifico a visitar</strong> </div>
                    <div class="peopleNumber"><strong>No. de Personas</strong></div>
                    <div class="comission"><strong>Objeto de la Comisión</strong></div>
                  </div>
                  <div class="table-i" *ngFor="let item of detailRequest">
                    <div class="table-i-dateOf">
                      <strong>{{item.dateOf | date: 'd MMM y' | uppercase}}</strong>
                    </div>
                    <div class="table-i-dateTo">
                      <strong>{{item.dateTo | date: 'd MMM y' | uppercase}}</strong>
                    </div>
                    <div class="table-i-schedule">
                      <strong>{{item.schedule}}</strong>
                    </div>
                    <div class="table-i-destiny">
                      <strong>{{item.destiny | uppercase}}</strong>
                    </div>
                    <div class="table-i-peopleNumber">
                      <strong>{{item.peopleNumber}}</strong>
                    </div>
                    <div class="table-i-comission">
                      <strong>{{item.comission | uppercase}}</strong>
                    </div>
                  </div>
                  <div class="observations">
                    <div class="text-observations">
                      <strong>OBSERVACIONES:</strong>
                    </div>
                    <div class="line-observations">
                      <td>{{request.observations}}</td>
                    </div>
                  </div>
                  <div class="sign-form">
                    <div class="sign-text">
                      <div><strong>Nombre, Firma y sello</strong></div>
                      <div><strong>del Solicitante</strong></div>
                    </div>
                    <div></div>
                    <div class="sign-text">
                      <div><strong>Nombre, firma y sello</strong></div>
                      <div><strong>del Jefe Inmediato</strong></div>
                    </div>
                </div>
              </div>
              </form>
              <!--- FIN DE FORMULARIO-->
              <div class="row" style="margin-top:100px">

                  <button (click)="downloadPDF()" class="btn btn-primary" style="margin-left:310px; margin-right:20px">Imprimir</button>

                  <button type="button" class="btn btn-primary" [routerLink]="['/localRequest/edit/',id_entrada]">Regresar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
  </div>
