<div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <div class="col-8">
          <h1 class="header-title">
            Personas
          </h1>
          <!--- Migaja de Pan -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
              <li class="breadcrumb-item">Personas</li>
            </ol>
          </nav>
          <!--- Migaja de Pan -->
        </div>
      </div>
        <!---  -->
        <div class="col-8">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="btn-group">
                      <button type="button" class="btn mb-1 btn-primary "
                        aria-haspopup="true" aria-expanded="false"[routerLink]="['/personform']">Registrar persona

                      </button>

                    </div>
                  </div>
                </div>
              </div>
        <!---  -->

              <!--- TABLA -->
              <table class="table table-striped table-hover">
                <!--- TITULOS DE LA TABLA -->
                <thead  class="thead-dark">
                  <tr>
                    <th style="text-align: center;">Nombre</th>
                    <th style="text-align: center;">Cargo</th>
                    <th style="text-align: center;">Telefono</th>
                    <th style="text-align: center;">DPI</th>
                    <th style="text-align: center;">NIT</th>
                    <th style="text-align: center;">Opciones</th>
                  </tr>
                </thead>
                <!--- TITULOS DE LA TABLA -->

                <!--- CUERPO DE LA TABLA -->
                <tbody *ngFor="let item of person | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td style="text-align: center;">{{item.fullname}}</td>
                    <td style="text-align: center;">{{item.job_name}}</td>
                    <td style="text-align: center;">{{item.phone}}</td>
                    <td style="text-align: center;">{{item.dpi}}</td>
                    <td style="text-align: center;">{{item.nit}}</td>
                    <td style="text-align: center;">
                      <div class="btn-group">
                        <button type="button" class="btn mb-1 btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class= "dropdown-item" [routerLink]="['/personform/edit/',item.uuid]">Editar persona</a>
                          <a class= "dropdown-item"  (click)="deletePerson(item.uuid)" >Eliminar persona</a>
                        </div>
                      </div>
                    </td>
                </tbody>
                <!--- CUERPO DE LA TABLA -->
              </table>
              <!--- TABLA -->
            </div>
            <pagination-controls (pageChange)="p = $event"
          nextLabel="Siguiente"
          previousLabel="Anterior"></pagination-controls>
          </div>

        </div>

    </main>
  </div>
