<div class="wrapper">
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <div class="col-lg-10">
            <h1 class="header-title">
              Registro de Solicitud de Transporte Exterior
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/exterirRequest']">Solicitud Exterior</a></li>
                <li class="breadcrumb-item"><a> Solicitud de Transporte Exterior</a></li>
              </ol>
            </nav>
            <!--- Migaja de Pan -->
          </div>
        </div>

        <div class="col-lg-10">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Completa el Formulario</h5>
              <h6 class="card-subtitle text-muted">Transporte Exterior</h6>
            </div>
            <div class="card-body">

              <!--- INICIO DE FORMULARIO-->
              <form #ExteriorForm="ngForm" (ngSubmit)="createNewExteriorRequest(ExteriorForm)">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Unidad Solicitante</b></label>
                      <input class="form-control" #requesting_unit="ngModel" name="requesting_unit"
                        [(ngModel)]="exteriorRequest.requesting_unit" required type="text"
                        placeholder="Ingrese la unidad solicitante" [disabled]="editing==true">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Responsable de comision</b></label>
                      <input class="form-control" #commission_manager="ngModel" name="commission_manager"
                        [(ngModel)]="exteriorRequest.commission_manager" required type="text"
                        placeholder="Ingrese el responsable de comision" [disabled]="editing==true">
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="editing == true">
                    <div class="form-group">
                      <label class="form-label"><b>Fecha de solicitud</b></label>
                      <input name="date_request" [value]="exteriorRequest.date_request | date: 'd MMM y' | uppercase"
                        required type="text" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Duracion en Dias</b></label>
                      <input #duration_days="ngModel" name="duration_days" [(ngModel)]="exteriorRequest.duration_days"
                        required type="text" class="form-control" placeholder="Ingrese duracion de los dias"
                        [disabled]="editing==true">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Objetivo de la comision:</b></label>
                      <input class="form-control" #pilotName="ngModel" name="objective_request"
                        [(ngModel)]="exteriorRequest.objective_request" type="text" list="items"
                        placeholder="Ingrese el Objetivo de la comision" required [disabled]="editing==true">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>No. celular de Contacto:</b></label>
                      <input #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="exteriorRequest.phoneNumber"
                        required type="number" class="form-control" placeholder="ingrese Celular"
                        [disabled]="editing==true">
                    </div>
                  </div>
                  <div class="col-lg-10">
                    <p></p>
                  </div>
                  <div id="destino" class="col-lg-10" *ngIf="editing == false"><label><b>-- DESTINOS --</b></label>
                  </div>
                  <div class="col-lg-10">
                    <p></p>
                  </div>

                  <!-- Inician datos de la tabla      -->
                  <form class="col-lg-10" #detailExterioForm="ngForm"
                    (ngSubmit)="createDetailRequest(detailExterioForm)" *ngIf="editing == false">
                    <div class="row">
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-label"><b>Numero de Personas</b></label>
                          <input id="inputTable" #number_people="ngModel" name="number_people"
                            [(ngModel)]="detailrequest.number_people" required type="number" class="form-control"
                            placeholder="Ingrese el numero de personas">
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-label"><b>Departamento</b></label>
                          <select id="inputTable" class="form-control" #department="ngModel" name="department"
                            [(ngModel)]="detailrequest.department" (click)="getOneMun(detailrequest.department)"
                            required>
                            <option value="" disabled>Seleccionar</option>
                            <option value="{{item.title}}" *ngFor="let item of departments">{{item.title}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-label"><b>Municipio</b></label>
                          <select id="inputTable" class="form-control" #municipality="ngModel" name="municipality"
                            [(ngModel)]="detailrequest.municipality" required>
                            <option value="" disabled>Seleccionar</option>
                            <option value="{{item}}" *ngFor="let item of Onemunicipality">{{item}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-5">
                        <div class="form-group">
                          <label class="form-label"><b>Aldea</b></label>
                          <input #village="ngModel" name="village" [(ngModel)]="detailrequest.village" required
                            type="text" class="form-control" placeholder="Ingrese la aldea" id="inputTable">
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-label"><b>Fecha Del:</b></label>
                          <input class="form-control" id="inputTable" name="dateOf" [(ngModel)]="detailrequest.dateOf"
                            type="date" required>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-label"><b>Fecha Al:</b></label>
                          <input class="form-control" id="inputTable" name="dateTo" [(ngModel)]="detailrequest.dateTo"
                            type="date" required>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="form-label"><b>Hora de salida:</b></label>
                          <input class="form-control" id="inputTable" name="hour" [(ngModel)]="detailrequest.hour"
                            type="time" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <p></p>
                    </div>
                    <div class="text-center"><button id="btndestino" class="btn btn-primary" type="submit">Agregar
                        destino</button></div>
                    <div class="col-lg-10">
                      <p></p>
                    </div>
                  </form>

                  <!-- finalizan los datos para la tabla -->
                  <!---  TABLA -->
                  <div class="col-lg-10">
                    <table class="table table-bordered">
                      <!---     TITULOS DE LA TABLA -->
                      <thead class="thead-dark">
                        <tr>
                          <th style="text-align: center;">No. Personas</th>
                          <th style="text-align: center;">Departamento</th>
                          <th style="text-align: center;">Municipio</th>
                          <th style="text-align: center;">Aldea</th>
                          <th style="text-align: center;">Fecha Del:</th>
                          <th style="text-align: center;">Fecha Al:</th>
                          <th style="text-align: center;">Hora de Salida</th>
                        </tr>
                      </thead>
                      <!---    TITULOS DE LA TABLA -->
                      <tbody *ngFor="let detailrequest of details">
                        <td style="text-align: center;">{{detailrequest.number_people}}</td>
                        <td style="text-align: center;">{{detailrequest.department | uppercase}}</td>
                        <td style="text-align: center;">{{detailrequest.municipality | uppercase}}</td>
                        <td style="text-align: center;">{{detailrequest.village | uppercase}}</td>
                        <td style="text-align: center;">{{detailrequest.dateOf | date: 'd MMM y' | uppercase}}</td>
                        <td style="text-align: center;">{{detailrequest.dateTo | date: 'd MMM y' | uppercase}}</td>
                        <td style="text-align: center;">{{detailrequest.hour}}</td>
                      </tbody>
                    </table>
                  </div>
                  <!---   TABLA -->

                  <div class="col-lg-10">
                    <p></p>
                  </div>
                  <div class="col-lg-10">
                    <p></p>
                  </div>
                  <div class="col-lg-10">
                    <p></p>
                  </div>
                  <div class="col-lg-10">
                    <p></p>
                  </div>
                  <div class="col-lg-10">
                    <div class="form-group">
                      <label class="form-label"><b>Observaciones:</b></label>
                      <input class="form-control" #observations="ngModel" name="observations"
                        [(ngModel)]="exteriorRequest.observations" type="text" placeholder="Ingrese observaciones"
                        required [disabled]="editing==true">
                    </div>
                  </div>
                  <!--    DAtos del cuadrito                -->
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Proporcion de Combustible:</b></label>
                      <select class="form-control" #provide_fuel="ngModel" name="provide_fuel"
                        [(ngModel)]="exteriorRequest.provide_fuel" required [disabled]="editing==true">
                        <option value="" disabled>Seleccionar</option>
                        <option value="{{provide.id}}" *ngFor="let provide of provide_fue">{{provide.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label"><b>Proporcion de Viatico:</b></label>
                      <select class="form-control" #provide_travel_expenses="ngModel" name="provide_travel_expenses"
                        [(ngModel)]="exteriorRequest.provide_travel_expenses" required [disabled]="editing==true">
                        <option value="" disabled>Seleccionar</option>
                        <option value="{{provide.id}}" *ngFor="let provide of provide_fue">{{provide.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="editing == true">
                    <div class="form-group">
                      <label class="form-label"><b>Placa del vehiculo autorizado:</b></label>
                      <select class="form-control" #plate_vehicle="ngModel" name="plate_vehicle"
                        [(ngModel)]="exteriorRequest.plate_vehicle" required>
                        <option value="" disabled>Seleccionar</option>
                        <option value="{{vehicle.plate}}" *ngFor="let vehicle of vehicles">{{vehicle.plate}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="editing == true">
                    <div class="form-group">
                      <label class="form-label"><b>Nombre del piloto asignado:</b></label>
                      <select class="form-control" #pilot_name="ngModel" name="pilot_name"
                        [(ngModel)]="exteriorRequest.pilot_name" required>
                        <option value="" disabled>Seleccionar</option>
                        <option value="{{person.fullname}}" *ngFor="let person of person">{{person.fullname}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-10" *ngIf="editing == true">
                    <div class="form-group">
                      <label class="form-label"><b>Si es rechazada la solicitud indique el motivo:</b></label>
                      <input class="form-control" #reason_rejected="ngModel" name="reason_rejected"
                        [(ngModel)]="exteriorRequest.reason_rejected" type="text"
                        placeholder="Ingrese el motivo de rechazo" required>
                    </div>
                  </div>


                </div>
                <div class="text-center" *ngIf="editing == false"><button type="submit"
                    class="btn btn-primary">Solicitar</button></div>
                <div class="row">
                  <div class="text-center" *ngIf="editing == true" class="col-lg-2">
                    <button type="submit" class="btn btn-primary">Acepar</button>
                  </div>
                  <div class="text-center" *ngIf="editing == true" class="col-lg-3">
                    <button type="submit" class="btn btn-danger">Denegar</button>
                  </div>
                </div>

              </form>
              <!--- FIN DE FORMULARIO-->
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>