<div class="wrapper">
  <div class="main">
    <main class="content">
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
              Registro de Viajes
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                  <li class="breadcrumb-item"><a> Registro de Viajes</a></li>
                </ol>
            </nav>
            <!--- Migaja de Pan -->
        </div>

        <div class="col-12">
        <div class="card">
          <div class = "card-header">
            <h5 class = "card-title">Completa el Formulario</h5>
          </div>
          <div class="card-body">
            <!--- INICIO DE FORMULARIO-->
            <form>
              <div class="row" >
                <div class="col-lg-4">
                  <div class = "form-group">
                    <label class = "form-label"><b>Vehiculo Utilizado</b></label>
                    <select class="form-control"required>
                      <option value="" disabled>Seleccionar</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Kilometraje Inicial</b></label>
                    <input type="number" class="form-control" placeholder="0" required>
                  </div>
                </div>
                <div class="col-lg-2" >
                  <div class = "form-group">
                    <label class = "form-label"><b>Kilometraje Final</b></label>
                    <input type="number" class="form-control" placeholder="0" required>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class = "form-group ">
                    <label class = "form-label"><b>¿Necesita Mantenimiento?</b></label>
                    <select class="form-control"required>
                      <option value="" disabled>Seleccionar</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-5">
                  <p></p>
                </div>
                <button  type="submit" class="btn btn-primary" >Reportar</button>

              </div>

            </form>
            <!--- FIN DE FORMULARIO-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
