<div class="main">
  <main class="content">
    <div class="container-fluid">
      <div class="header">

        <div class="col-12" style="margin-left: 10px;">
          <h1 class="header-title">
            Viajes exteriores
          </h1>
          <!--- Migaja de Pan -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Inicio</a></li>
              <li class="breadcrumb-item"><a>Viajes</a></li>
            </ol>
          </nav>
          <!--- Migaja de Pan -->
        </div>
      </div>
      <!---  -->
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">

              <div class="btn-group">
                <button type="button" class="btn mb-1 btn-primary " aria-haspopup="true" aria-expanded="false"
                  [routerLink]="['/exteriorRequest-index']">Ver las solicitudes exteriores
                </button>

              </div>
            </div>
          </div>
          <!---  -->
          <!--- TABLA -->
          <table class="table table-striped table-hover">
            <!--- TITULOS DE LA TABLA -->
            <thead class="thead-dark">
              <tr>
                <th>No de solicitud</th>
                <th>Unidad solicitante</th>
                <th>Responsable de comisión</th>
                <th>Fecha de Viaje</th>
                <th>Piloto</th>
                <th>Vehiculo</th>
                <th>Estado</th>
                <th>Ver solicitud</th>
                <th>Finalizar viaje</th>
                <th>Bitacora</th>
                <th>Pase de Salida</th>
              </tr>
            </thead>
            <!--- TITULOS DE LA TABLA -->

            <!--- CUERPO DE LA TABLA -->
            <tbody *ngFor="let item of trip_exterior | paginate: { itemsPerPage: 8, currentPage: p }">
              <td style="text-align: center;">{{item.transp_request_exterior}}</td>
              <td style="text-align: center;">{{item.requesting_unit}}</td>
              <td style="text-align: center;">{{item.commission_manager}}</td>
              <td style="text-align: center;">Del {{item.first_date | date: 'd MMM' | uppercase}} al {{item.latest_date | date: 'd MMM yy' | uppercase}}</td>
              <td style="text-align: center;">{{item.fullname}}</td>
              <td style="text-align: center;">{{item.plate}}</td>
              <td style="text-align: center;">{{item.status_name}}</td>
              <td style="text-align: center;">
                <div class="btn-group">
                  <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false"
                    [routerLink]="['/exteriorRequest/edit/',item.transp_request_exterior]">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
              </td>
              <td style="text-align: center;">
                <div class="btn-group">
                  <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-check"></i>
                  </button>
                </div>
              </td>
              <td style="text-align: center;">
                <div class="btn-group">
                  <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false"
                    [routerLink]="['/BitacoraExterior/',item.transp_request_exterior]">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
              </td>
              <td style="text-align: center;">
                <div class="btn-group">
                  <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false"
                    [routerLink]="['/exitPassPDF/',item.transp_request_exterior]">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
              </td>
          </table>
          <!--- TABLA -->

        </div>
        <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior">
        </pagination-controls>
      </div>


      <div class="header" style="margin-top: 100px;">

        <div class="col-12" style="margin-left: 10px;">
          <h1 class="header-title">
            Viajes locales
          </h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Inicio</a></li>
              <li class="breadcrumb-item"><a>Viajes</a></li>
            </ol>
          </nav>
        </div>
      </div>
        <!---inicia otra tabla  -->
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="btn-group">
                  <button type="button" class="btn mb-1 btn-primary " aria-haspopup="true" aria-expanded="false"
                    [routerLink]="['/localRequest-index']">Ver las solicitudes locales
                  </button>
                </div>
              </div>
            </div>
            <!---  -->
            <!--- TABLA -->
            <table class="table table-striped table-hover">
              <!--- TITULOS DE LA TABLA -->
              <thead class="thead-dark">
                <tr>
                  <th>No de solicitud</th>
                  <th>Nombre del solicitante</th>
                  <th>Fecha de Viaje</th>
                  <th>Piloto</th>
                  <th>Vehiculo</th>
                  <th>Estado</th>
                  <th>Ver solicitud</th>
                  <th>Finalizar viaje</th>
                  <th>Bitacora</th>
                  <th>Pase de Salida</th>
                </tr>
              </thead>
              <!--- TITULOS DE LA TABLA -->

              <!--- CUERPO DE LA TABLA -->
              <tbody *ngFor="let item of trip_local | paginate: { itemsPerPage: 8, currentPage: p }">
                <td style="text-align: center;">{{item.transp_request_local}}</td>
                <td style="text-align: center;">{{item.applicantsName}}</td>
                <td style="text-align: center;">Del {{item.first_date | date: 'd MMM' | uppercase}} al {{item.latest_date | date: 'd MMM y' | uppercase}}</td>
                <td style="text-align: center;">{{item.fullname}}</td>
                <td style="text-align: center;">{{item.plate}}</td>
                <td style="text-align: center;">{{item.status_name}}</td>
                <td style="text-align: center;">
                  <div class="btn-group">
                    <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false"
                      [routerLink]="['/localRequest/edit/',item.transp_request_local]">
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </td>
                <td style="text-align: center;">
                  <div class="btn-group">
                    <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-check"></i>
                    </button>
                  </div>
                </td>
                <td style="text-align: center;">
                  <div class="btn-group">
                    <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false"
                      [routerLink]="['/BitacoraLocal/',item.transp_request_local]">
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </td>
                <td style="text-align: center;">
                  <div class="btn-group">
                    <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false"
                      [routerLink]="['/exitPassPDF/',item.transp_request_local]">
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </td>
            </table>
            <!--- TABLA -->
          </div>
          <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior">
          </pagination-controls>
        </div>
      </div>
  </main>
</div>
