<div class="wrapper">
  <div class="main">
    <main class="content">
      <div class="container-fluid">
        <div class="header">

          <div class="col-11">
            <h1 class="header-title">
              Viajes exteriores
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
                <li class="breadcrumb-item"><a>Viajes exteriores</a></li>
              </ol>
            </nav>
            <!--- Migaja de Pan -->
          </div>
        </div>
        <!---  -->
        <div class="col-11" style="margin: 0 auto;">
          <div class="card">
            <div class="card-header">
              <div class="row">

                <div class="btn-group">
                  <button type="button" class="btn mb-1 btn-primary " data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" [routerLink]="['/exteriorRequest-index']">Ver las solicitudes exteriores
                  </button>

                </div>
              </div>
            </div>
            <!---  -->
            <!--- TABLA -->
            <table class="table table-striped table-hover">
              <!--- TITULOS DE LA TABLA -->
              <thead class="thead-dark">
                <tr>
                  <th style="text-align: center;">No de solicitud</th>
                  <th style="text-align: center;">Unidad solicitante</th>
                  <th style="text-align: center;">Responsable de comisión</th>
                  <th style="text-align: center;">Fecha de viaje</th>
                  <th style="text-align: center;">Destino</th>
                  <th style="text-align: center;">Piloto</th>
                  <th style="text-align: center;">Vehiculo</th>
                  <th style="text-align: center;">Estado</th>
                  <th style="text-align: center;">Finalizar viaje</th>
                </tr>
              </thead>
              <!--- TITULOS DE LA TABLA -->

              <!--- CUERPO DE LA TABLA -->
              <tbody *ngFor="let item of trip | paginate: { itemsPerPage: 8, currentPage: p }">
                <td style="text-align: center;">{{item.transp_request_exterior}}</td>
                <td style="text-align: center;">{{item.requesting_unit}}</td>
                <td style="text-align: center;">{{item.commission_manager}}</td>
                <td style="text-align: center;">{{item.date_request | date: 'd MMM y' | uppercase}}</td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;">{{item.fullname}}</td>
                <td style="text-align: center;">{{item.plate}}</td>
                <td style="text-align: center;">{{status}}</td>
                <td style="text-align: center;">
                  <div class="btn-group">
                    <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-check"></i>
                    </button>
                  </div>
                </td>

            </table>
            <!--- TABLA -->
          </div>
          <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior">
          </pagination-controls>
        </div>

      </div>

    </main>
  </div>
</div>
