<div class="main" *ngIf="isLoad==true">
    <main class="content">
      <div class="container-fluid">
        <div class="header">
          <div class="col-11">
            <h1 class="header-title">
              Solicitudes de transporte exterior
            </h1>
            <!--- Migaja de Pan -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/History-Request']" >Historial de solicitudes</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/exteriorRequest/edit/',id_entrada]">Detalles de la solicitud de transporte exterior No. {{id_entrada}}</a></li>
                <li class="breadcrumb-item"><a>Solicitud de transporte No. {{id_entrada}}</a></li>
              </ol>
            </nav>
            <!--- Migaja de Pan -->
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <!--- INICIO DE FORMULARIO-->
              <form #local_trasportationForm="ngForm" id="Data">
                <div class="imagen" >
                  <img [src]="imagenSrc" [alt]="">
                </div>
                <div class="form" >
                  <div class="header-form">
                    <div class="header-text">
                      <strong class="strong-header" style="color: black;"> SOLICITUD DE VEHICULO</strong>
                    </div>
                  </div>
                  <div class="header-info">
                    <div class="header-info-left">
                      <div class="info-left-item">
                        <td> UNIDAD SOLICITANTE: </td>
                      </div>
                      <div class="line">
                        <td>{{request.requesting_unit | uppercase}}</td>
                      </div>
                      <div class="info-left-item">
                        <td> FECHA DE SOLICITUD: </td>
                      </div>
                        <div class="line">
                          <td>{{request.date_request | date: 'd MMM y' | uppercase}}</td>
                        </div>
                      <div class="info-left-item">
                        <td> OBJETIVO DE COMISIÓN: </td>
                      </div>
                        <div class="line-bottom">
                          <td>{{request.objective_request | uppercase}}</td>
                        </div>
                    </div>
                      <div class="header-info-right">
                        <div class="info-right-item">
                          <td> RESPONSABLE DE COMISIÓN: </td>
                        </div>
                          <div class="line">
                            <td>{{request.commission_manager | uppercase}}</td>
                          </div>
                        <div class="info-right-item">
                          <td> DURACIÓN EN DIAS: </td>
                        </div>
                          <div class="line">
                            <td>{{request.duration_days}}</td>
                          </div>
                        <div class="info-right-item">
                          <td> NO. DE CELULAR DE CONTACTO: </td>
                        </div>
                          <div class="line-bottom">
                            <td>{{request.phoneNumber}}</td>
                          </div>
                      </div>
                  </div>
                  <div class="authorization">
                  <div class="authorization-text">
                    <strong class="strong-header"> COMPROMISO DE AUTORIZACIÓN: Por éste medio nos comprometemos a no desviar al piloto de la ruta descrita en este formulario de comisión Oficial. </strong>
                  </div>
                </div>
                <div class="table-header">
                  <div class="no"><strong>No.</strong></div>
                  <div class="noPeople"><strong>No. de personas</strong> </div>
                  <div class="place"><strong>DESTINO</strong>
                    <div class="rowTitle">
                      <div class="table-sub-1"><strong>DEPARTAMENTO</strong> </div>
                      <div class="table-sub-2"><strong>MUNICIPIO</strong></div>
                      <div class="table-sub-3"><strong>ALDEA</strong></div>
                    </div>
                  </div>
                  <div class="info-date"><strong>FECHA</strong>
                    <div class="rowTitle">
                      <div class="table-sub-1"><strong>DEL</strong> </div>
                      <div class="table-sub-2"><strong>AL</strong></div>
                      <div class="table-sub-3"><strong class="hour">HORA DE SALIDA</strong></div>
                    </div>
                  </div>
                </div>
                <div class="table-i" *ngFor="let item of detailRequest">
                  <div class="no-t"><div></div><strong>{{item.no}}</strong></div>
                  <div class="noPeople-t"><div></div><strong>{{item.number_people}}</strong></div>
                  <div class="table-i-1"><div></div><strong>{{item.department | uppercase}} </strong></div>
                  <div class="table-i-2"><div></div><strong>{{item.municipality | uppercase}}</strong></div>
                  <div class="table-i-3"><div></div><strong>{{item.village | uppercase}}</strong></div>
                  <div class="table-i-1"><div></div><strong>{{item.dateOf | date: 'd MMM y' | uppercase}}</strong></div>
                  <div class="table-i-2"><div></div><strong>{{item.dateTo | date: 'd MMM y' | uppercase}}</strong></div>
                  <div class="table-i-4"><div></div><strong>{{item.hour}}</strong></div>
                </div>
                <div class="observations">
                  <div class="text-observations">
                    <strong>OBSERVACIONES</strong>
                  </div>
                  <div class="table-observations"><td>{{request.observations}}</td></div>
                </div>
                <div class="applicants-header">
                  <div class="border-bot"></div>
                  <div></div>
                  <div class="border-bot"></div>
                  <div class="applicants-gas">
                    <div class="applicants-text"><strong>La Unidad solicitante proporcionara Combustible</strong></div>
                    <div class="applicants-selection">
                      <div class="applicants-si"><strong>SI</strong></div>
                      <div class="circle-color" *ngIf="fuel==true"><strong></strong></div>
                      <div class="circle"*ngIf="fuel==false"><strong></strong></div>
                      <div class="applicants-no"><strong>NO</strong></div>
                      <div class="circle-color" *ngIf="fuel==false"><strong></strong></div>
                      <div class="circle" *ngIf="fuel==true"><strong></strong></div>
                    </div>
                  </div>
                </div>
                <div class="applicants-header">
                  <div class="applicants-sign">
                    <div><strong>{{request.commission_manager}}, Firma y Sello</strong></div>
                    <div><strong>Responsable de la Comisión</strong></div>
                  </div>
                  <div></div>
                  <div class="applicants-sign">
                    <div><strong>{{request.boss}} firma y sello</strong></div>
                    <div><strong>Jefe Dependencia solicitante</strong></div>
                  </div>
                  <div class="applicants-gas2">
                    <div class="applicants-text2"><strong>La Unidad solicitante proporcionara Viatico</strong></div>
                    <div class="applicants-selection">
                      <div class="applicants-si"><strong>SI</strong></div>
                      <div class="circle-color" *ngIf="viatic==true"><strong></strong></div>
                      <div class="circle"*ngIf="viatic==false"><strong></strong></div>
                      <div class="applicants-no"><strong>NO</strong></div>
                      <div class="circle-color" *ngIf="viatic==false"><strong></strong></div>
                      <div class="circle"*ngIf="viatic==true"><strong></strong></div>
                    </div>
                  </div>
                </div>
                <div class="exclusive-form">
                    <strong class="strong-header" style="color: black;"> USO EXCLUSIVO COORDINACION DE TRANSPORTES
                    </strong>
                </div>
                <div class="status-request">
                  <div class="status-options">
                    <div class="applicants-option"><strong>Aceptada</strong></div>
                    <div class="oval"*ngIf="status==false"><strong></strong></div>
                    <div class="oval-color" *ngIf="status==true"><strong></strong></div>
                  </div>
                  <div class="status-vehicles">
                    <div class="status-plate-pilot"><strong>Placa del vehículo autorizado:</strong></div>
                    <div class="border-bot"><strong>{{request.plate}}</strong></div>
                  </div>
                  <div class="status-text">
                    <div><strong>Estatus de Solicitud: </strong></div>
                  </div>
                  <div class="status-options1">
                    <div class="applicants-option"><strong>Rechazada</strong></div>
                    <div class="oval"*ngIf="status==true"><strong></strong></div>
                    <div class="oval-color" *ngIf="status==false"><strong></strong></div>
                  </div>
                  <div class="status-vehicles1">
                    <div class="status-plate-pilot"><strong>Nombre del Piloto asignado:</strong></div>
                    <div class="border-bot"><strong>{{request.fullname}}</strong></div>
                  </div>
                </div>
                <div class="rejected">
                  <div class="text-rejected">
                    <strong>Si es rechazada la solicitud, indique el motivo:</strong>
                  </div>
                  <div class="table-rejected">
                    <td>{{request.reason_rejected}}</td>
                  </div>
                </div>
                <div class="sign-form">
                <div></div>
                <div class="border-bot"><strong></strong></div>
                <div></div>
                </div>
                <div class="sign-text">
                  <div></div>
                  <div><strong>SECCIÓN DE TRANSPORTES</strong></div>
                  <div></div>
                  </div>
                  <div class="sign-text2">
                    <div></div>
                    <div><strong>Devora Oliva, Firma y Sello</strong></div>
                    <div></div>
                    </div>
                </div>
              </form>
              <!--- FIN DE FORMULARIO-->
              <div class="row"  style="margin-top:20px; ">
                  <button (click)="downloadPDF()" class="btn btn-primary"  style="margin-left:430px; margin-right:20px">Imprimir</button>

                  <button type="button" class="btn btn-primary" [routerLink]="['/exteriorRequest/edit/',id_entrada]">Regresar</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


